@import "tailwindcss";

.dark-mode {
  --color-slate-50: #0f172a;
  --color-slate-100: #1e293b;
  --color-slate-200: #334155;
  --color-slate-300: #475569;
  --color-slate-400: #64748b;
  --color-slate-500: #94a3b8;
  --color-slate-600: #cbd5e1;
  --color-slate-700: #e2e8f0;
  --color-slate-800: #f1f5f9;
  --color-slate-900: #f8fafc;
  
  --color-white: #020617;
  
  --color-blue-50: #172554;
  --color-blue-100: #1e3a8a;
  --color-blue-300: #3b82f6;
  --color-blue-500: #3b82f6;
  --color-blue-600: #60a5fa;
  --color-blue-700: #93c5fd;
  --color-blue-800: #1e3a8a;
  --color-blue-900: #172554;
}

